#newsletter {
padding: 80px 0;
background: $light-blue-100;
font-family: "raleway";
    & .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
        & h2 {
            font-size: 22px;
            color: $primary;
            text-transform: uppercase;
            margin-bottom: 40px; 
        }
        .btn {
            min-height: 50px; 
            border-radius: 0 30px 30px 0;
            background: #243c4f;
            color: #fff;
        }
    }
    & .single .form-control {
    height: 50px;
    background: $gray-100;
    border-color: transparent;
    border-radius: 30px 0 0 30px;
        &:focus {
            box-shadow: none;
            border-color: #243c4f;
        }
    }
}

