#services{
    .container{
        .row{
            text-align: center;
            .service-container{
                padding: 0 20px;
                h3{
                font-family: "raleway";
                font-weight: 500;
                margin: 20px 0;
                }
                p{
                    color: gray;
                }
            }
        }
    }
}