// Variables

// Restated Bootstrap Variables

$light-blue-100: #93f1f9 !default;
$light-blue-200: #52B1FF !default;

$pink-100: #f84e77 !default;
$yellow-100:  #FACE53 !default;
$yellow-200: #fdba02 !default;

$gray: #F5F5F5 !default;
$gray-100: rgba(238, 235, 229, 0.904) !default;
$white: #fff !default;
$black: #000 !default;

$primary: #1A1E32 !default;
$text-primary: #666 !default;

// Media Queries 
$break-small: 576px;
$break-medium: 720px;
$break-large: 960px;